body {
  margin: 0px;
  font-family: "Poppins", sans-serif;
  background-color: #f6f5f8;
}

.sub-navbar {
  width: 100%;
  background-color: #232323;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0 15px 0;
}

.sub-navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-weight: 300;
  width: 100%;
  max-width: 360px;
  z-index: 2;
}

#mobile-sub-navbar-middle {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #232323;
  color: #ffffff;
  transition: 0.6s;
  width: 100%;
  z-index: 1;
}

#mobile-sub-navbar-middle-text-1,
#mobile-sub-navbar-middle-text-2,
#mobile-sub-navbar-middle-text-3 {
  font-weight: 200;
  margin: 15px 0 15px 0;
}

.sub-navbar-logo {
  width: 180px;
}

.sub-navbar-middle {
  display: none;
}

.sub-navbar-middle-text {
  margin: 0 25px 0 25px;
  transition: 0.3s;
  cursor: pointer;
}

.sub-navbar-middle-text:hover {
  margin: 0 25px 0 25px;
  color: #ffc700;
  transition: 0.3s;
}

.sub-navbar-right {
  display: none;
  justify-content: space-between;
  align-items: center;
}

.search-bar-mobile {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  max-width: 200px;
  width: 100%;
  height: 40px;
  border-radius: 8px;
}

.search-icon-mobile {
  padding-left: 10px;
  background-color: transparent;
  border: none;
}

.search-bar-input-mobile {
  border: white 1px solid;
  position: absolute;
  width: 200px;
  height: 40px;
  background-color: transparent;
  color: #ffffff;
  padding-left: 40px;
  font-size: 16px;
  border-radius: 8px;
}

.search-bar {
  position: relative;
  display: flex;
  width: 200px;
  height: 40px;
}
.top-section {
  width: 100%;
}

.search-icon {
  padding-left: 10px;
  background-color: transparent;
  border: none;
}

.search-bar-input {
  border: white 1px solid;
  position: absolute;
  width: 100%;
  height: 40px;
  background-color: transparent;
  color: #ffffff;
  font-size: 16px;
  border-radius: 8px;
  padding-left: 40px;
  font-family: "Inter", sans-serif;
}

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 300ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #fff;
  stroke-width: 5.5;
  stroke-linecap: round;
}
.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(180deg);
}

.ham1 .top {
  stroke-dasharray: 40 139;
}
.ham1 .bottom {
  stroke-dasharray: 40 180;
}
.ham1.active .top {
  stroke-dashoffset: -98px;
}
.ham1.active .bottom {
  stroke-dashoffset: -138px;
}
.burger-btn {
  background-color: transparent;
  border: none;
  z-index: 100;
}

.menu-bar {
  width: 32px;
  height: 100%;
  background-size: cover;
  margin-right: 60px;
  z-index: 99;
}

.search-bar-input:focus {
  outline: none;
}

::placeholder {
  color: white;
  opacity: 1;
}

.sub-navbar-right-vline {
  font-weight: 100;
  font-size: 40px;
  margin: 0 20px 0 20px;
}

.main-burger-tag-container {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media (min-width: 640px) {
  .sub-navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-weight: 300;
    width: 100%;
    max-width: 360px;
    z-index: 2;
  }

  .sub-navbar-logo {
    width: 180px;
  }

  .sub-navbar-middle {
    display: none;
  }

  .sub-navbar-right {
    display: none;
    justify-content: space-between;
    align-items: center;
  }

  .main-burger-tag-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 810px) {
  .sub-navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-weight: 300;
    width: 100%;
    max-width: 800px;
    z-index: 2;
  }

  .sub-navbar-logo {
    width: 180px;
  }

  .sub-navbar-middle {
    display: none;
  }

  .sub-navbar-right {
    display: none;
    justify-content: space-between;
    align-items: center;
  }

  .main-burger-tag-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 992px) {
  .menu-bar {
    display: none;
  }
}
@media (min-width: 1024px) {
  .sub-navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-weight: 300;
    width: 100%;
    max-width: 950px;
  }

  .sub-navbar-logo {
    width: 230px;
  }

  .sub-navbar-middle {
    display: block;
  }

  .sub-navbar-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-burger-tag-container {
    display: none;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 1065px) {
  .sub-navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-weight: 300;
    width: 100%;
    max-width: 1050px;
  }

  .sub-navbar-logo {
    width: 230px;
  }

  .sub-navbar-middle {
    display: block;
  }

  .sub-navbar-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-burger-tag-container {
    display: none;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 1359px) {
  .sub-navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-weight: 300;
    width: 100%;
    max-width: 1350px;
  }

  .sub-navbar-logo {
    width: 230px;
  }

  .sub-navbar-middle {
    display: block;
  }

  .sub-navbar-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-burger-tag-container {
    display: none;
    justify-content: center;
    align-items: center;
  }
}
