.main-container {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  z-index: 1;
  padding-bottom: 50px;
}

.top-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 0 15px 0;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.edit-button {
  background: #315e52;
  border: 0;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  outline: none;
  transition: 0.3s;
  z-index: 0;
  margin-top: 30px;
  width: 100px;
  height: 40px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}
.search-bar {
  height: 44px !important;
  margin-right: 80px;
}
.name-input {
  background-color: #ffffff;
  border: 0;
  border-radius: 10px;
  padding: 5px 0px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: #969696;
}
.name-input-edit {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: #969696;
}
.left-container {
  width: 100%;
}

.right-container {
  width: 100%;
}

.sub-navbar-end {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 300px;
}

.user-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.burger-tag-container {
  cursor: pointer;
}

#mobile-menu-container {
  position: absolute;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #232323;
  color: #ffffff;
  z-index: 2;
  transition: 0.6s;
}

#mobile-menu-text-1,
#mobile-menu-text-2,
#mobile-menu-text-3,
#mobile-menu-text-4 {
  font-weight: 300;
  font-size: 16px;
  padding: 13px 0 13px 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.menu-container {
  display: none;
  flex-direction: column;
}

.profile-text {
  font-weight: 700;
  font-size: 28px;
}

.logout-button {
  background: #315e52;
  border: 0;
  border-radius: 50px;
  color: white;
  padding: 10px 15px;
  cursor: pointer;
  outline: none;
  transition: 0.3s;
  z-index: 0;
}

.logout-button:hover {
  background: #387d6b;
  transition: 0.3s;
}

.sub-navbar-middle-text {
  font-weight: 300;
  padding-bottom: 20px;
  margin-left: 15px;
  margin-right: 15px;
}

hr {
  height: 0px;
  /* border: 1.7px solid #D3D3D3; */
  margin-bottom: 50px;
}

a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.email-text-1 {
  border: 0;
  border-radius: 10px;
  padding: 5px 0px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: #969696;
}
.username-text {
  font-weight: 700;
  font-size: 20px;
  margin: 3px 0 3px 0;
}

.email-text {
  background-color: #ffffff;
  border: 0;
  border-radius: 10px;
  padding: 5px 0px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: #969696;
}
.email-text-edit {
  background-color: #ffffff;
  border: 0;
  border-radius: 10px;
  padding: 5px 0px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: #969696;
  border: 1px solid #e0e0e0;
}

.burger-tag-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.burger-tag {
  align-self: center;
}

#menu-text-1,
#menu-text-2,
#menu-text-3,
#menu-text-4 {
  font-weight: 600;
  font-size: 23px;
  margin: 10px 0 10px 0;
  transition: 0.3s;
}

#menu-text-1:hover,
#menu-text-2:hover,
#menu-text-3:hover,
#menu-text-4:hover {
  color: #387d6b;
  cursor: pointer;
  transition: 0.3s;
}

.right-container-top-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.right-container-top-text-main {
  font-weight: 700;
  font-size: 20px;
}

.right-container-top-text-sub {
  font-weight: 400;
  font-size: 14px;
  color: #969696;
  text-align: center;
}

.cards-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border: 2px solid #eeeeee;
  border-radius: 20px;
  width: 100%;
  max-width: 300px;
  padding: 50px 20px 50px 20px;
  margin: 10px 0 10px 0;
}

.card-first {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-first span {
  font-weight: 700;
  font-size: 16x;
}

.order-history-container {
  background-color: white;
  display: none;
}

.order-history-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
  border: 2px solid #eeeeee;
  border-radius: 20px;
  width: 100%;
  max-width: 738px;
  padding: 20px 20px 50px 20px;
  margin: 28px 0 10px 0;
  overflow-y: scroll;
  height: 400px;
}

.order-history-card-first {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-line {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #232323;
  color: #9d9d9d;
  z-index: 2;
  opacity: 0.8;
}

.card-item {
  display: flex;
  justify-content: space-between;
}

table {
  border-collapse: collapse;
  width: 100%;
}
td,
th {
  border: 0 0 1px 0 solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

tr:not(:first-child) {
  cursor: pointer;
}

tr:hover:not(:first-child) {
  background-color: #387d6b;
  color: white;
}

.order-detail-table {
  overflow-y: scroll;
  height: 600px;
}

.order-detail-text {
  font-weight: 400;
  font-size: 16px;
  color: #9d9d9d;
}
.avatar {
  width: 140px;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #387d6b;
  border-radius: 50%;
  font-size: 70px;
  color: white;
  margin-bottom: 20px;
}

@media (min-width: 640px) {
  .main-container {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    z-index: 1;
    padding-bottom: 50px;
  }

  .content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .top-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 0 15px 0;
  }

  .left-container {
    width: 100%;
  }

  .right-container {
    width: 100%;
  }

  .username-text {
    font-weight: 700;
    font-size: 20px;
    margin: 3px 0 3px 0;
  }

  .user-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }

  .burger-tag-container {
    cursor: pointer;
  }

  .menu-container {
    display: none;
    flex-direction: column;
  }

  .right-container-top-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .right-container-top-text-main {
    font-weight: 700;
    font-size: 20px;
  }

  .right-container-top-text-sub {
    font-weight: 400;
    font-size: 14px;
    color: #969696;
    text-align: center;
  }

  .cards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }

  .card {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    border: 2px solid #eeeeee;
    border-radius: 20px;
    width: 100%;
    max-width: 300px;
    padding: 50px 20px 50px 20px;
    margin: 10px 0 10px 0;
  }
}

@media (min-width: 768px) {
  .main-container {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    z-index: 1;
    padding-bottom: 50px;
  }

  .content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .top-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 0 15px 0;
  }

  .left-container {
    width: 100%;
  }

  .right-container {
    width: 100%;
  }

  .username-text {
    font-weight: 700;
    font-size: 20px;
    margin: 3px 0 3px 0;
  }

  .user-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  .cart_icon {
    width: 30px;
    height: 30px;
  }
  .burger-tag-container {
    cursor: pointer;
  }

  .menu-container {
    display: none;
    flex-direction: column;
  }
  .profile_nav_item :hover {
    background-color: #387d6b;
  }
  .right-container-top-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .right-container-top-text-main {
    font-weight: 700;
    font-size: 20px;
  }

  .right-container-top-text-sub {
    font-weight: 400;
    font-size: 14px;
    color: #969696;
    text-align: center;
  }

  .cards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }

  .card {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    border: 2px solid #eeeeee;
    border-radius: 20px;
    width: 100%;
    max-width: 300px;
    padding: 50px 20px 50px 20px;
    margin: 10px 0 10px 0;
  }
}

@media (min-width: 1231px) {
  .main-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 50px;
  }

  .content-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
  }

  .top-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 100px 0 15px 0;
  }

  .left-container {
    width: 35%;
  }

  .right-container {
    width: 65%;
  }

  .username-text {
    font-weight: 700;
    font-size: 20px;
    margin: 3px 0 3px 0;
  }

  .user-info-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-bottom: 30px;
  }

  .burger-tag-container {
    display: none;
    justify-content: center;
    align-items: center;
  }

  .menu-container {
    display: flex;
    flex-direction: column;
  }

  .right-container-top-text {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-top: 0px;
  }

  .right-container-top-text-main {
    font-weight: 700;
    font-size: 28px;
  }

  .right-container-top-text-sub {
    font-weight: 400;
    font-size: 14px;
    color: #969696;
    text-align: left;
  }

  .cards-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    margin-top: 30px;
  }

  .card {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    border: 2px solid #eeeeee;
    border-radius: 20px;
    width: 100%;
    max-width: 300px;
    padding: 50px 35px 50px 35px;
    margin: 0 0 0 0;
  }
}
