.main-container {
  width: 100%;
  z-index: 1;
  padding-bottom: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.top-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 0 15px 0;
}
.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1000px;
}
.text-content-container {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  background-color: #fff;
  padding: 40px;
  margin: 50px;
  border-radius: 10px;
}
.profile-logo {
  max-width: 700px;
  padding-top: 50px;
}
.logo_container {
  padding-top: 50px;
}
.search-bar {
  height: 44px !important;
  margin-right: 80px;
}
.left-container {
  width: 100%;
}
.right-container {
  width: 100%;
}
.burger-tag-container {
  cursor: pointer;
}
.sub-navbar-middle-text {
  font-weight: 300;
  padding-bottom: 20px;
  margin-left: 15px;
  margin-right: 15px;
}
.contact {
  background-color: #387d6b;
  padding: 20px;
  border-radius: 10px;
  color: white;
  max-width: 760px;
  width: 100%;
  display: flex;
}
.burger-tag- #mobile-menu-container {
  position: absolute;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #232323;
  color: #fff;
  z-index: 2;
  transition: 0.6s;
}
#mobile-menu-text-1,
#mobile-menu-text-2,
#mobile-menu-text-3,
#mobile-menu-text-4 {
  font-weight: 300;
  font-size: 16px;
  padding: 13px 0 13px 0;
  width: 100%;
  height: 100%;
  text-align: center;
}
.menu-container {
  display: none;
  flex-direction: column;
}
.profile-text {
  font-weight: 700;
  font-size: 28px;
}
hr {
  height: 0;
  margin-bottom: 50px;
}
a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}
#menu-text-1,
#menu-text-2,
#menu-text-3,
#menu-text-4 {
  font-weight: 600;
  font-size: 23px;
  margin: 10px 0 10px 0;
  transition: 0.3s;
}
#menu-text-1:hover,
#menu-text-2:hover,
#menu-text-3:hover,
#menu-text-4:hover {
  color: #387d6b;
  cursor: pointer;
  transition: 0.3s;
}
