body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  margin: 0px;
  overflow-y: hidden;
}

.product-manage-section {
  width: 0%;
  overflow-x: hidden;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.user-manage-section {
  width: 100%;
  overflow-x: hidden;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: red;
}
.order-history-section {
  width: 0%;
  overflow-x: hidden;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: blue;
}
.side_bar {
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #232323;
  justify-content: space-between;
}

.content {
  width: 100%;
  height: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  background-color: #f6f5f8;
}

.content .title {
  font-size: 28px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  height: 60px;
  color: #fff;
  background-color: #232323;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content .sub-title {
  font-size: 24px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin: 0px;
  color: #232323;
}
.top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 15px 0px 0px 0px;
}

.h-line {
  width: 100%;
  height: 1.5px;
  background-color: #d3d3d3;
  margin: 20px 0px 20px 0px;
  border: none;
}
.line2 {
  width: 100%;
  height: 1.5px;
  background-color: #d3d3d3;
  margin: 10px 0px 10px 0px;
  border: none;
}

.logo {
  margin: 30px;
}
.nav_section {
  margin: 30px;
  display: flex;
  flex-direction: column;
  color: white;
}

.nav_section a {
  cursor: pointer;
  font-size: 24px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin: 25px 0px;
  color: white;
  text-decoration: none;
}

.nav_section a:hover {
  color: #ffb800 !important;
  transition: 0.2s;
  text-decoration: none;
  transform: translateX(10px);
}

.product-add-button {
  width: 100px;
  height: 40px;
  background-color: #ffb800;
  border: none;
  color: white;
  font-size: 14px;
  font-weight: 600;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  margin: 25px 0px;
  transition: all 0.2s ease-in-out;
}
/* when hover the button change to + */
.product-add-button:hover {
  background-color: #fff;
  color: #ffb800;
  border: 1px solid #ffb800;
  transition: all 0.2s ease-in-out;
  scale: 1.03;
}
.product-add-button:focus {
  outline: none;
}

.product-list-container {
  width: 100%;
  height: 550px;
  overflow-y: scroll;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: white;
  border-radius: 10px;
}

.product-list-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 20px 0px 10px 0px;
}

.table-header {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
.table-header-2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.table-content {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  white-space: nowrap;
}
.table-content-2 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.line3 {
  width: 100%;
  height: 1px;
  background-color: #d3d3d3;
  margin: 10px 0px 10px 0px;
  border: none;
}
.product-name {
  color: black !important;
  white-space: nowrap;
  width: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  border: none !important;
  border-bottom: none !important;
}
.email {
  color: black !important;
  white-space: nowrap;
  width: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  border: none !important;
  border-bottom: none !important;
}
.product-description {
  color: black !important;
  white-space: nowrap;
  width: 130px;
  overflow: hidden;
  text-overflow: ellipsis;
  border: none !important;
  border-bottom: none !important;
}

.h-line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: black !important;
  stroke-width: 5.5;
  stroke-linecap: round;
  display: none !important;
}

.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #fff !important;
  stroke-width: 5.5;
  stroke-linecap: round;
}
.burger_container {
  display: none;
}
.dropdown-content {
  display: none;
}
.product-edit-section {
  width: 0%;
  overflow-x: hidden;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.product-edit-section .content .top-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px 20px 0px;
  background-color: #f6f5f8;
}

.product-edit-section .content .title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.product-edit-container {
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 800px;
  overflow-y: scroll;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: white;
  border-radius: 10px;
}

.product-edit-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}
.field {
  padding-top: 0px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  width: 100%;
}
.row .col-12 {
  justify-content: center;
  align-items: center;
  display: flex;
}
.product_image {
  border: 1px solid #d3d3d3;
  border-radius: 10px;
  max-width: 200px;
}
.name-edit-input {
  width: 100%;
  height: 40px;
  border: 1px solid #d3d3d3;
  border-radius: 10px;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #000;
  margin: 10px 0px;
}
.name-edit-input:focus {
  outline: none;
}
.name-edit-inputarea {
  width: 100%;
  height: 125px;
  border: 1px solid #d3d3d3;
  border-radius: 10px;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #000;
  margin: 10px 0px;
  resize: none;
}
.edit-btn-container {
  display: flex;
  justify-content: end;
  align-items: end;
}
.edit-btn {
  width: 100%;
  height: 40px;
  border: 1px solid #d3d3d3;
  border-radius: 10px;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  background-color: #ffc700;
  color: #fff;
  margin: 10px 0px;
}
.edit-btn:hover {
  scale: 1.05;
  transition: 0.2s;
}
.edit-btn:focus {
  outline: none;
}
.button-section {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  padding: 10px 0px 20px 0px;
  width: 100%;
}
.update-btn {
  width: 150px;
  height: 40px;
  border: 1px solid #d3d3d3;
  border-radius: 10px;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  background-color: #232323;
  color: #fff;
  margin: 10px 0px;
}
.update-btn:focus {
  outline: none;
}
.update-btn:hover {
  scale: 1.05;
  transition: 0.2s;
}

.delete-btn {
  width: 150px;
  height: 40px;
  border: 1px solid #d3d3d3;
  border-radius: 10px;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  background-color: #c30000;
  color: #fff;
  margin: 10px 0px;
  margin-left: 20px;
}
.delete-btn:focus {
  outline: none;
}
.delete-btn:hover {
  scale: 1.05;
  transition: 0.2s;
}

.user-edit-section {
  width: 0%;
  overflow-x: hidden;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.user-edit-section .content .top-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px 20px 0px;
  background-color: #f6f5f8;
}

.user-edit-section .content .title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 24px;
}

@media screen and (max-width: 1200px) {
  .content {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: #f6f5f8;
  }

  .product-list-container {
    height: 65%;
  }

  .product-list-content {
    padding: 0px;
    margin: 30px 0px 10px 0px;
  }

  .table-content-2 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #000;
    display: none;
  }
  .table-header-2 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: #000;
    display: none;
  }
  .side_bar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #232323;
    justify-content: space-between;
    display: none;
  }
  .h-line {
    width: 100%;
    height: 1.5px;
    background-color: #d3d3d3;
    margin: 20px 0px 0px 0px;
  }
  .top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0px 0px 0px 0px;
  }
  .burger_container {
    align-self: center;
    width: 50px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color: #232323;
    border-radius: 10px;
    z-index: 99;
  }
  .content .title {
    font-size: 28px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    height: 60px;
    color: #fff;
    background-color: #232323;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .dropdown-container {
    background-color: #232323;
    height: 0;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .dropdown-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #fff;
    overflow-y: hidden;
  }
  .dropdown-container .nav_section {
    align-items: center;
  }
  .product_image {
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    max-width: 350px;
    margin-top: 20px;
  }
  .button-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    padding: 10px 0px 20px 0px;
    width: 100%;
  }
}
