body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  margin: 0px;
}

.side_bar {
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #232323;
  justify-content: space-between;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f6f5f8;
}
.logo {
  margin: 30px;
}
.nav_section {
  margin: 30px;
  display: flex;
  flex-direction: column;
  color: white;
}

.nav_section a {
  font-size: 30px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin: 25px 0px;
  color: white;
  text-decoration: none;
}

.nav_section a:hover {
  color: #ffb800;
  transition: 0.2s;
}
