img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
}

.main-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.search-bar {
  height: 44px !important;
  margin-right: 80px;
}
a {
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  margin: 0 10px !important;
}
a:hover {
  color: #fff;
  text-decoration: none;
  margin: 0 13px !important;
}
.slide {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 0 20px;
  max-width: 200px;
}
.col-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.product-detail-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 50px;
  margin-bottom: 20px;
}
.col-content-container .title {
  font-size: 24px;
  font-weight: 500;
  width: 100%;
  margin: 0;
  padding-bottom: 10px;
  justify-content: start;
  align-items: start;
  text-align: start;
  max-width: 100%;
}

.product-detail-comment {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.product-detail-comment .name {
  font-weight: 500;
  font-size: 14px;
  margin: 0;
}
.like_btn {
  padding-right: 5px;
}
.product-detail-comment .comment {
  width: 100%;
  font-size: 18px;
  height: 100px;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 10px;
  resize: none;
}
.comment_content-2 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 10px 40px 100px 40px;
}
.mobile-sub-navbar-middle {
  position: relative;
  top: 0;
}
.sub-navbar-middle-text {
  padding-top: 20px;
  padding-bottom: 20px;
}
.comment_content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 40px 40px 40px 40px;
}
.top-section {
  width: 100%;
  display: flex;
  padding-top: 20px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  font-family: "poppins", sans-serif;
}
.reply-btn {
  background-color: #ffc700;
  border-radius: 6px;
  padding: 10px 20px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s;
  border: none;
  margin-top: 20px;
}

.reply-btn:hover {
  background-color: #ffc700;
  border-radius: 6px;
  padding: 10px 20px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s;
  border: none;
  margin-top: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.reply-btn:active {
  background-color: #fff;
  border-radius: 6px;
  padding: 10px 20px;
  color: #ffc700;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s;
  border: none;
  margin-top: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.product-detail-image-container {
  display: flex;
  align-items: center;
  margin-top: 50px;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.product-detail-info-container {
  margin-left: 0px;
}

.product-detail-info {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 30px 20px 30px 20px;
  margin: 30px 0 30px 0;
}

.product-detail-spec {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.product-detail-info-title,
.product-detail-info-cate,
.product-detail-info-star,
.product-detail-info-color,
.product-detail-info-price,
.product-detail-info-addtocart {
  display: flex;
  align-items: start;
  justify-content: start;
  margin: 15px 0 15px 0;
}

.product-detail-info-spec-title,
.product-detail-info-spec-detail {
  display: flex;
  align-items: center;
  margin: 8px 0 8px 0;
}

.counter span {
  background-color: transparent;
  border: 1px solid #ffc700;
  border-radius: 5px;
  padding: 2px 8px 2px 8px;
  margin: 0px;
  transition: 0.2s;
  cursor: pointer;
}

.counter span:hover {
  color: #ffffff;
  background-color: #ffc700;
  border: 1px solid #ffc700;
  border-radius: 5px;
  padding: 2px 8px 2px 8px;
  margin: 0px;
  transition: 0.2s;
  cursor: pointer;
}

.counter input {
  width: 23px;
  border: 1px solid #ffc700;
  border-radius: 5px;
  padding: 6.6px 10px 5px 10px;
  transition: 0.2s;
  text-align: center;
}

.product-detail-info-title-text,
.product-detail-info-spec-text {
  font-weight: 500;
  font-size: 20px;
}

.product-detail-info-cate-text {
  color: #9d9d9d;
  font-size: 12px;
}

.product-detail-info-star {
  color: #ffc700;
  font-size: 20px;
}

.product-detail-info-color-text,
.product-detail-info-price-text,
.product-detail-info-size-text {
  font-size: 12px;
  font-weight: 500;
  margin: 0px 7px 0px 0px;
}

.product-detail-info-color-button,
.product-detail-info-size-button {
  background-color: transparent;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  padding: 5px 15px 5px 15px;
  margin: 0px 7px 0px 7px;
  transition: 0.2s;
  cursor: pointer;
}

.product-detail-info-color-button:hover,
.product-detail-info-size-button:hover {
  background-color: #ffc700;
  border: 1px solid #ffc700;
  color: #ffffff;
}

.product-detail-info-addtocart-button {
  background-color: #ffc700;
  border: 1px solid #ffc700;
  color: #ffffff;
  border-radius: 5px;
  padding: 8px 15px 8px 15px;
  transition: 0.2s;
  font-weight: 600;
  cursor: pointer;
}
.add-to-cart-btn {
  margin: 0px !important;
}

.product-detail-info-spec-detail-text {
  font-size: 14px;
  color: #9d9d9d;
  word-wrap: break-word;
  max-width: 300px;
}

.content_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
}

.product-star-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #ffc700;
  font-size: 20px;
  border-radius: 8px;
  width: 60px;
  color: white !important;
  padding: 2px 0px;
  margin-top: 10px;
}

@media (min-width: 640px) {
  .main-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .slide {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 0 20px;
    max-width: 300px;
  }

  .product-detail-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0px;
    margin-bottom: 20px;
  }

  .product-detail-image-container {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .product-detail-info {
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 30px 20px 30px 20px;
    margin: 30px 0 30px 0;
  }

  .product-detail-spec {
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
  }
}

@media (min-width: 768px) {
  .main-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .slide {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 0 20px;
    max-width: 250px;
  }

  .product-detail-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
    margin: 0 200px;
    padding: 0px;
    margin-bottom: 20px;
  }

  .slide {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 0 20px;
    max-width: 250px;
  }

  .product-detail-image-container {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 20px;
    margin-right: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .product-detail-info {
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 30px 45px 30px 45px;
    margin: 30px 0 30px 0;
  }

  .product-detail-spec {
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
.slide-show-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.left-react-button {
  color: #006064;
  max-width: 40px;
  transform: rotate(90deg);
  cursor: pointer;
  transition-duration: 0.3s;
}

.left-react-button:hover {
  color: #006064;
  display: block;
}

.right-react-button {
  color: #006064;
  display: block;
  max-width: 40px;
  border-width: 4px 4px 0 0;
  transform: rotate(270deg);
  cursor: pointer;
  transition-duration: 0.3s;
}

.right-react-button:hover {
  color: #006064;
  max-width: 40px;
  display: block;
}

@media (min-width: 1231px) {
  .main-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .slide {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 0 20px;
    max-width: 380px;
  }

  .product-detail-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 50px;
    padding: 0px;
    margin-bottom: 20px;
  }

  .product-detail-image-container {
    display: flex;
    margin-top: 00px;
    align-items: center;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .product-detail-info-container {
    margin-left: 20px;
  }

  .product-detail-info {
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 30px 60px 30px 60px;
    margin-top: 0;
    margin: 0 0 30px 0;
  }

  .product-detail-spec {
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .product-detail-comment {
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 880px;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  .col-content-container .title {
    font-size: 24px;
    font-weight: 500;
    width: 100%;
    margin: 0;
    padding-bottom: 10px;
    justify-content: start;
    align-items: start;
    text-align: start;
    max-width: 920px;
  }
}
